

.content6 {
    width: 420px;
    margin-left: 60px;
}


.content7 {
    width: 400px;
    margin: 0px auto;
}

.content8 {
    width: 500px;
    margin: 0px auto;
}

.content9 {
    width: 500px;
    margin: 0px auto;
}



.dropdownmenu6 {
	font-size: 0.9em;
	font-family: arial,verdana, helvetica,sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 20px;
}


.dropdownmenuA1 {
	font-size: 0.9em;
	font-family: arial,verdana, helvetica,sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 155px;
    margin-right: 30px;
}


.dropdownmenuB1 {
	font-size: 0.9em;
	font-family: arial,verdana, helvetica,sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 180px;
    margin-right: 30px;
}

.dropdownmenuC1 {
	font-size: 0.9em;
	font-family: arial,verdana, helvetica,sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 140px;
    margin-right: 30px;
}


.dropdownmenuC1a {
	font-size: 0.8em;
	font-family: arial,verdana, helvetica,sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 65px;
    margin-right: 20px;
}

.dropdownmenuD1 {
	font-size: 0.8em;
	font-family: arial,verdana, helvetica,sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 103px;
    margin-right: 20px;
}

.dropdownmenuE1 {
	font-size: 0.8em;
	font-family: arial,verdana, helvetica,sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 0px;
    margin-right: 0px;
}


.dropdownmenuF1 {
	font-size: 0.8em;
	font-family: arial,verdana, helvetica,sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 0px;
    margin-right: 20px;
}


.generatorButtonA1 {
	margin-top: 30px;
	/*display: inline-block;*/
	margin-left: 50px;
	margin-right: 0px;
}

.generatorButtonA2 {
	margin-top: 30px;
	/*display: inline-block;*/
	margin-left: 0px;
	margin-right: 0px;
}

.generatorbuttonsC1 {
    margin: 0px;
    margin-left: 40px;
}
	

.generatorbuttonsB1 {
	margin-left: 60px;
}
	

.formIputDescription{
	color: #ffffff;
    font-weight: bold;
    margin-left: 80px;
}


.formIputDescription2{
	color: #ffffff;
    font-weight: bold;
    margin-right: 20px;
}

.formIputDescription3{
	color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
}


.formIputDescription4{
	color: #ffffff;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 40px;
}

.formIputDescription5{
	color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
}

.formIputDescription6{
	color: #ffffff;
    font-size: 0.8em;
    margin-left: 50px;
    margin-right: 5px;
}


.formIputDescription7{
	color: #ffffff;
    font-size: 0.8em;
    margin-left: 10px;
    margin-right: 5px;
}

.formIputDescription8{
	color: #ffffff;
    font-weight: bold;
    margin-right: 45px;
    margin-left: 80px;
}

.formIputDescription9{
	color: #ffffff;
    font-weight: bold;
    margin-right: 55px;
    margin-left: 80px;
}

.nameBox{
    float: right;
    width: 200px;
    margin-right: 20px;
}


.weaponNameBox{
    /*float: right;*/
    width: 200px;
}


.armourNameBox{
    /*float: right;*/
    width: 200px;
}

.alignmentBox{
    float: right;
    width: 200px;
    margin-right: 20px;
    font-size: 0.85em;
}


.arifactBox{
    width: 250px;
    font-size: 0.85em;
}


.weaponsDamageBox{
    width: 70px;
    margin-left: 0px;
    font-size: 0.85em;
}

.armourProtectionBox{
    width: 60px;
    margin-left: 0px;
    font-size: 0.85em;
}

.armourCheckPen{
    width: 50px;
    margin-left: 0px;
    font-size: 0.75em;
}

#char_sheet_buttonA1 {
    width:300px;
    height:50px;
	display: block;
	background-image: url(../images/buttons/character_button_a1.png);
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 60px;
    
}

#char_sheet_buttonA1:hover{
	background-image: url(../images/buttons/character_button_a2.png);
	background-repeat: no-repeat;
}


#char_sheet_buttonA2 {
    width:300px;
    height:50px;
	display: block;
	background-image: url(../images/buttons/character_button_b1.png);
	background-repeat: no-repeat;
    margin-left: 150px;
    border-radius: 10px;
    margin-top: 20px;
    
}

#char_sheet_buttonA2:hover{
	background-image: url(../images/buttons/character_button_b2.png);
	background-repeat: no-repeat;
}




#reset_generator1{
	background-image: url(../images/buttons/reset_button.png);

}

#reset_generator1:hover{
	background-image: url(../images/buttons/reset_button2.png);

}


#reset_generator2{
	background-image: url(../images/buttons/reset_button.png);
    width: 160px;
    height: 60px;
    display: inline-block;
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;

}

#reset_generator2:hover{
	background-image: url(../images/buttons/reset_button2.png);

}



#generate_characters2 {
	background-image: url(../images/buttons/submit_button.png);
    width: 160px;
    height: 60px;
    display: inline-block;
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;

}

#generate_characters2:hover {
	background-image: url(../images/buttons/submit_button2.png);

}

#generate_charactersWarrior {
	background-image: url(../images/buttons/submit_character1.png);
    width: 160px;
    height: 60px;
    display: inline-block;
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;

}

#generate_charactersWarrior:hover {
	background-image: url(../images/buttons/submit_warrior.png);
}


#generate_charactersWizard {
	background-image: url(../images/buttons/submit_character1.png);
    width: 160px;
    height: 60px;
    display: inline-block;
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;

}

#generate_charactersWizard:hover {
	background-image: url(../images/buttons/submit_wizard.png);
}

#generate_charactersThief {
	background-image: url(../images/buttons/submit_character1.png);
    width: 160px;
    height: 60px;
    display: inline-block;
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;

}

#generate_charactersThief:hover {
	background-image: url(../images/buttons/submit_thief.png);
}

#generate_charactersCleric {
	background-image: url(../images/buttons/submit_character1.png);
    width: 160px;
    height: 60px;
    display: inline-block;
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;

}

#generate_charactersCleric:hover {
	background-image: url(../images/buttons/submit_cleric.png);
}

#generate_charactersElf {
	background-image: url(../images/buttons/submit_character1.png);
    width: 160px;
    height: 60px;
    display: inline-block;
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;

}

#generate_charactersElf:hover {
	background-image: url(../images/buttons/submit_elf.png);
}


#generate_charactersDwarf {
	background-image: url(../images/buttons/submit_character1.png);
    width: 160px;
    height: 60px;
    display: inline-block;
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;

}

#generate_charactersDwarf:hover {
	background-image: url(../images/buttons/submit_dwarf.png);
}


#generate_charactersHalfling {
	background-image: url(../images/buttons/submit_character1.png);
    width: 160px;
    height: 60px;
    display: inline-block;
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;

}

#generate_charactersHalfling:hover {
	background-image: url(../images/buttons/submit_halfling.png);
}


/*Version 3 Generator Buttons*/


#generate_charactersWarriorV3 {
	background-image: url(../images/buttons/submit_character1.png);
    width: 160px;
    height: 60px;
    display: inline-block;
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;

}

#generate_charactersWarriorV3:hover {
	background-image: url(../images/buttons/submit_warrior.png);
}


#reset_generator3{
	background-image: url(../images/buttons/reset_character1.png);
    width: 160px;
    height: 60px;
    display: inline-block;
	background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;

}

#reset_generator3:hover{
	background-image: url(../images/buttons/reset_character2.png);

}



#equipmentTreasureBox{
    margin-left: 84px;
    margin-top: 8px;
}

#weaponsGroupings{
    column-count: 3;
    color: white;
    font-size: 0.75em;
}


#gearGroupings{
    column-count: 3;
    color: white;
    font-size: 0.7em;
}


#weaponsGroupingsV3{
    column-count: 3;
    color: white;
    font-size: 0.75em;
}


#gearGroupingsV3{
    column-count: 3;
    color: white;
    font-size: 0.7em;
}




.weaponBoxHeader{
    color: white;
    font-weight: bold;
}

.weaponBoxFooter{
    color: white;
    font-size: 0.7em;
}

.weaponSubHead{
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}


.footnote2{
	font-size: 0.8em;
	font-style: italic;
    color: white;
    margin-left: 80px;
}


.footnote3{
	font-size: 0.8em;
	font-style: italic;
    color: white;
    margin-left: 0px;
}


