
#clothingGroupings{
    column-count: 3;
    color: white;
    font-size: 0.65em;
}


.footnote2{
	font-size: 0.8em;
	font-style: italic;
    color: white;
    margin-left: 80px;
}


